@font-face {
  font-family: "leila";
  src: url(../fonts/MoonlightsontheBeach.ttf);
}

@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
  font-family: "roboto";
}

/*$$$$$$$$$$$$$$$$$$$$HEADER$$$$$$$$$$$$$$$*/
header .navbar {
  background-color: #646464;
}

header img {
  width: 80px;
  display: none;
}

header .btn-outline-success {
  color: #fff;
  background-color: #FF523E;
  border-color: #FF523E;
  font-weight: bold;
}

header .navbar-brand {
  font-family: "leila";
  font-size: 3em;
  margin-left: 50px;
}


header .collapse .navbar-nav>.nav-item>.nav-link {
  color: #FF523E;
}

.navbar-nav li {
  margin-left: 100px;
}


/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$ TABLET $$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

@media (min-width: 600px) {
}



/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$ DESKTOP $$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

@media (min-width: 900px) {

  header .navbar-nav {
    margin-left: 100px;
  }

}
